# **List Comprehension Exercises***

Given a list of strings, create a new list that contains only the strings that are longer than 5 characters.

Given a list of numbers, create a new list that contains the squares of all the numbers in the original list.

Given a list of names, create a new list that contains only the first letters of each name.

Given a list of numbers, create a new list that contains only the numbers that are divisible by both 3 and 5.

Given a list of temperatures in Celsius, create a new list that contains the equivalent temperatures in Fahrenheit. (Hint: the formula to convert from Celsius to Fahrenheit is F = (C * 9/5) + 32

In [2]:
w=[2,5,9,6]
i=7
sum4=[i+p for p in w if p%2==0]
print(i ,  w)
sum4

7 [2, 5, 9, 6]

[9, 13]

# **Given a list of strings, create a new list that contains only the strings that are longer than 5 characters.**

In [3]:
strings=["banana", "apple", "guava", "watermelon","strawberry","pomegranate"]

s = [ strings[i] for i in  range(len(strings)) if len(strings[i])>5 ]
print(s)

['banana', 'watermelon', 'strawberry', 'pomegranate']

# Given a list of numbers, create a new list that contains the squares of all the numbers in the original list.

In [4]:
num=[1,2,3,4,5,6,7,8,9]

sqr = [x**2 for x in num]

print(sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

# **Given a list of names, create a new list that contains only the first letters of each name.**

In [5]:
names =["Ali","Kamran" , "Muneeze" , "Yusra" , "Humaira" , "Taha" , "Sara"]

fletter = [x[0] for x in names]

print(fletter)

['A', 'K', 'M', 'Y', 'H', 'T', 'S']

# **Given a list of numbers, create a new list that contains only the numbers that are divisible by both 3 and 5.**

In [6]:
number = [27,65,91,45,32,46,50,88,41]

dvsbl = [x for x in number if (x % 3==0) or (x%5==0)]

print(dvsbl)

[27, 65, 45, 50]

# **Given a list of temperatures in Celsius, create a new list that contains the equivalent temperatures in Fahrenheit. (Hint: the formula to convert from Celsius to Fahrenheit is F = (C * 9/5) + 32**

In [7]:
celsius = [10,25,35,40,23,18,23]

fahrenheit = [((x * (9/5)) +32 ) for x in celsius]

print(fahrenheit)

[50.0, 77.0, 95.0, 104.0, 73.4, 64.4, 73.4]


## sum+k
takes list and a int
returns list
hintL k will add up to each elemetn of list

## fillna 
takes list 
returns list

## duplicates
takes list
returns list


## search
takes list and int
if True returns 1 else return -1

## mode
we will do it later

## **Sum + K **

In [8]:
number = [27,65,91,45,32,46,50,88,41]
k = 7

sumk = [x+k for x in number]
print(sumk)

[34, 72, 98, 52, 39, 53, 57, 95, 48]

# **Fill NA**

In [9]:
number = [None,27,None,65,91,45,32,None,46,50,88,41,None]

fill_na =[0 if x == None else x for x in number]
print(fill_na)

[0, 27, 0, 65, 91, 45, 32, 0, 46, 50, 88, 41, 0]

# **Duplicates** 
ask to sir it is correct or not

In [16]:
duplicates = [2,5,4,3,2,5,4,3,6,9,9,8,7,8,7,8,9,1,3,1,0,2,0,1,4,5,6,7,9,8,8,3,4,5,1,0,6,9,7]

remove = [ set(duplicates) ]
print(list(remove))

[{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}]

# **Search**

In [19]:
list5 = [1,5,6,9,8,7,5,6,3,2,1,4,8,9,5,4]
find =5

search = [("Yess" if list5[x] == find else list5[x]) for x in list5  ]
print(search)

['Yess', 7, 'Yess', 2, 3, 6, 7, 'Yess', 9, 6, 'Yess', 8, 3, 2, 7, 8]