# **Assignment # 1**
Make functions of following.

## Sum 
takes array returns int


## mean 
takes array returns int

## median
hint L first sort the list 
takes array returns int

## swaap 
takes 2 ints and the same

## sum+k
takes list and a int
returns list
hintL k will add up to each elemetn of list

## add
takes 2 or miltiples ints
returns int

## pow
takes 2 int
returns 1

## fact
takes int returns int


## cumsum 
takes int returns int


## fillna 
takes list 
returns list

## duplicates
takes list
returns list

## std 
takes array returns int


## variance 
takes array returns int

## search
takes list and int
if True returns 1 else return -1

## mode

## **SUM FUNCTION**

In [ ]:
def cal_sum(list):
  x=0
  for i in range(len(list)):
    x=x+int(list[i])
  return int(x) 

list=[2,42,58,65,48,56,58,45,2,0,6,8,5,2,55]
sum=cal_sum(list)  
sum

452

# **MEAN FUNCTION**

In [ ]:
def calculate_mean(numbers):
    n=len(numbers)
    mean = cal_sum(numbers) / n
    return mean

numbers=[21,42,58,65,48,56,58,45,56,86,57,25,55]
avg=calculate_mean(numbers)

print("Mean of numbers = {:.2f}".format(avg))

Mean of numbers = 51.69

# **Median Function**

In [3]:

def median(numbers):
  numbers.sort()
  if len(numbers) % 2 == 0:
    mid = len(numbers)//2
    print ("mid ",mid)
    median = (numbers[mid-1] + numbers[mid]) / 2
  else:
    median = numbers[len(numbers)//2]
  return median



numbers=[2,5,4,7,8,6,3,25,8,17]  
median= median(numbers)
median

mid  5

6.5

## ***Swap Function***

In [ ]:
def swap(a,b):
  c=a
  a=b
  b=c
  return int(a),int(b)


a=int(input("Enter your first number = "))
b=int(input("Enter your second number = "))
s=swap(a,b)
print(s)
print(type(s))

Enter your first number = 56
Enter your second number = 65
(65, 56)
<class 'tuple'>

# **Sum+K function***

In [ ]:
def sumk(list , k):
  for i in range(len(list)):
    list[i] = list[i]+k
  return list



list=[1,2,3,4,5,6,7,8,9]
k=10

sum_k=sumk(list,k) 
print(sum_k)

[11, 12, 13, 14, 15, 16, 17, 18, 19]

# **Add Function**

In [ ]:
def add (a,b):              # when numbers are only 2
    return a+b



a=int(input("Enter your First Number : "))
b=int(input("Enter your Second Number : "))
add(a,b)

Enter your First Number : 55
Enter your Second Number : 49

104

In [ ]:
def add(*args):      # when you have to add more than 2 numbers
  args = list(args)
  sum = 0
  for x in args:
    sum +=x

  return sum
add(6,5,7,8)

26

# **Power Function**

In [ ]:
def pow(c,d):
  return c**d

c=int(input("Enter your First Number : "))
d=int(input("Enter your Second Number : "))

power=pow(c,d)
print(power)

Enter your First Number : 5
Enter your Second Number : 3
125

# **Factorial Function**

In [ ]:
def factorial(e):
  if e <=0:
    print("Invalid Input")
  else:  
      f=1 
      for i in range(e,0,-1):
          f = i * f
      return f    

a=int(input("Enter your number : "))
fact=factorial(a)
print(fact)

Enter your number : 4
24

# **Cum sum Function**

In [ ]:
def cumsum(g):
  if g <=0:
    print("Invalid Input")
  else:  
      f=0
      for i in range(g,0,-1):
          f = i + f
      return f    

a=int(input("Enter your number : "))
cum=cumsum(a)
print(cum)

Enter your number : 5
15

# **Fill NA Function**

In [ ]:
def fillna(l):
   for i in range(len(l)):
     if l[i] == None:
       l[i] = 0
   return list(l)    


l=[1,None,3,4,None,5,6,None] 
fill_na = fillna(l)
print(fill_na)

[1, 0, 3, 4, 0, 5, 6, 0]

# **Remove Duplicates Function**

In [ ]:
def duplicate(w):
  return list(set(w))      # first it change w into set to remove duplicates and then again change into list


l1= [1,1,2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9] 
dup= duplicate(l1)
print(dup)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# **Search Function**

In [ ]:
#it take list and the number which you have to search from the list

def search(list3,t):
     return True if t in list3 else False

list3=[5,8,9,7,6,2,3,4,1,0]
t=79
search(s,t)

False

# **Mode function (in-complete)**

In [4]:
def mode(list4):
  pass
  

  



list4=[4,5,8,9,4,7,8,9,4,7,3,2,1,4,9,4,3,6,4]  
mode(list4)

# **Standard deviation Function**

In [ ]:
def standard_deviation(list5):
    m = int(calculate_mean(list5))      # calculating mean of list
    print("Mean of a list" , m)
    
    list6=[]
    for i in range(len(list5)):
      std=list5[i] -m                 # calculating standard deviation
      list6.append(std)               # add standard deviation into a new list
      m2 = calculate_mean(list6)
    print("Point at a distance : " ,list6)  
    return m2

list5 = [25,49,22,40,53,15,77]
std_list=standard_deviation(list5)
print("Standard deviaton of a list is : " ,round(std_list,2))

Mean of a list 40
Point at a distance :  [-15, 9, -18, 0, 13, -25, 37]
Standard deviaton of a list is :  0.14

##  **Variance Function**

In [ ]:
def variance(list7):
   x = standard_deviation(list7)
   print("Standard deviation : " , x)
   v= x**2
   return v



list7=[1,2,3,4,5,6]
var= variance(list7) 
print("Variance of a list : " ,var)

Mean of a list 3
Point at a distance :  [-2, -1, 0, 1, 2, 3]
Standard deviation :  0.5
Variance of a list :  0.25

In [ ]:
from functools import reduce

s = [12,3,4,124,5]
f = lambda x,y: x+y
reduce(f , s)

148